#sidebar {
    background-color: #0f4d90;
    color: white;
    font-size: 14px;
    flex: 0 0 210px;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.44); 
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.44);  
    padding: 20px 0px;
    overflow-y: scroll;
  }
  
  #filterOptions {
    padding: 10px;
  }

  .filterGroup {
    margin-top: 20px;
    font-weight: 600;
  }

  #sortOptions {
    display: flex;
    flex-direction: column;
  }
  
  #sortOptions label {
    margin-right: 5px;
  }
  
  #sortOptions select {
    margin: 5px;
    border-radius: 0px;
    background-color: #2176d2;
    color: white;
    border: 0px solid white;
    padding: 3px;
  }

  #sortOptions select:hover {
    opacity: 0.8;
  }
  
  #applyFilters {
    padding: 5px;
    margin: 10px 0px;
    font-weight: 400;
    text-align: center;
    color: white;
    border-style: none;
    background-color: #2176d2;
    cursor: pointer;
    width:75%;
    height: 40px;
    font-size: 14px;
    display: block;
    margin: 10px auto;
  
  }
  
  .filterCriteria {
    border: 0px solid white;
    margin: 10px 0px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    background-color: #2176d2;
  }
  
  .filterCriteria, .filterCriteria label {
    /* cursor: pointer; */
  }
  
  .filterCriteria label {
    flex-shrink: 1;
    margin: 5px;
    flex-grow: 1;
    /* font-size: 12px; */
    overflow:hidden;
  }
  
  .filterCriteria .specifier {
    width: 25px;
    border-left: 1px solid #0f4d90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }
  .filterCriteria .specifier.equal.selected, .filterCriteria .specifier.equal:hover {
    background-color: #4caf50;
  }
  .filterCriteria .specifier.notequal.selected, .filterCriteria .specifier.notequal:hover {
    background-color: #f44336;
  }
  .filterCriteria .specifier p {
    font-size: 16px;
  }
  
  
  
  .filterCriteria:hover, .filterCriteria.selected {
    /* background-color: rgba(255,255,255,0.3); */
    /* background-color: white;
    color: #0f4d90; */
  }
  
  .subfilter {
    /* max-height: 0px; */
    /* opacity: 1; */
    /* overflow: hidden; */
    display: none;
    /* transition: max-height 0.5s; */
  }
  
  .subfilter.visible {
    /* max-height: 500px;
    opacity: 1; */
    display: block;
  }
  
  .subfilter .filterCriteria {
    margin-left: 10px;
  }
  
  .filterCriteria input {
    display: none;
  }
  
  #clearFilters {
    border-width: 0px;
    padding: 5px;
    margin: 0 auto;
    width: 120px;
    font-weight: 400;
    color:white;
    background-color: #2176d2;
    display: block;
    cursor: pointer;
  }
  
  #clearFilters:hover {
    opacity: 0.8;
  }

  #filterOptions #searchBar {
    background-color: white;
    border: 0px solid white;
    color: black;
    padding: 5px;
    margin: 10px 0px;
    font-weight: 400;
    width: calc(100% - 14px);
    font-size: 16px;
    
  }
  
  #filterOptions #searchBar:focus {
    outline-style: solid;
    outline-color: white;
    outline-width: 1px !important;
  }