{% load table_formatters %}
<!DOCTYPE html>
<html>
  <head>
    <title>Filtered map</title>
    {% include 'bupehandler/favicon.html' %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/js/mapInit.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://npmcdn.com/mapbox-gl-circle/dist/mapbox-gl-circle.min.js'></script>
    <link href='/static/styles/map.css' rel='stylesheet'/>
    <link href='/static/styles/filterBar.css' rel='stylesheet'/>
    <link href='/static/styles/siteSearch.css' rel='stylesheet'/>
    <script>const table_info = {{ table_info|dict_to_json }}</script>
    <script src='/static/js/filterSettings.js'></script>
    <!-- Geocoder plugin -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />

    <!-- Turf.js plugin -->
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <script>
      const mapParams = {
        table_name: "{{table_name}}",
        param_values: "{{param_values}}",
        destination_name: "{{destination_name}}",
        excluded_values: "{{excluded_values}}",
        keyword: "{{keyword}}", 
      }
    </script>
  </head>
  <body>
    {% include 'bupehandler/navbar.html' with map=True %}
    {% include 'bupehandler/siteSearch.html' %}
    <div id='map'>
      {% include 'bupehandler/filterBar.html' with showSort=False %}
      
      <div id="results-info">
        <span class="bold" id="sitecount">0</span> of <span class="bold">{{ table_info.records_count }}</span> records for <span class="bold">{{ table_info.facility_type }}</span> {{ table_info.source_range }}
      </div>
    </div>
  <script src="/static/js/filter.js"></script>
  </body>
</html>


