{% load table_formatters %}
<html>
  <head>
    {% include 'bupehandler/favicon.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/table.css"/>
    <link rel="stylesheet" href="/static/styles/filterBar.css"/>
    <script src="/static/js/stickyObserver.js"></script>
    <script>const table_info = {{ table_info|dict_to_json }}</script>
    <script src="/static/js/tableSettings.js"></script>
    <title>{{ table_info.display_name }}</title>
  </head>
  <body>
    {% include 'bupehandler/navbar.html' %}
    
    <div id="flexContainer">
      {% include 'bupehandler/filterBar.html' %}
      <div id="table" onscroll="handleScroll(this.scrollTop, this.scrollLeft)">
        <header id="header">
          <h3 id="dataSource" class="bold">SOURCE: <a href="{{ table_info.source_url }}" target="_blank">{{ table_info.display_name }}</a></h3>
          <h5 id="lastUpdatedNotice">Most recent download: <span class="bold">{{ table_info.update_recency }}</span></h5>
        </header>
        <h5 id="resultDescription">
          <span class="bold">{{ objects|length }}</span> of <span class="bold">{{ table_info.records_count }}</span> records for <span class="bold">{{ table_info.facility_type }}</span> {{ table_info.source_range }}
        </h5>
        <div id="extraContainer">
          <table>
              <tr>
                <th class="facilityName">Facility</th>
                <th>Telehealth</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Zip Code</th>
                <th>Buprenorphine</th>
                <th>Methadone</th>
                <th>Naltrexone</th>
              </tr>
              {% for site in objects|notArchiveOnly %}
              <tr>
                <td class="facilityName wrap">
                  <p class="cellText bold">{{site.name1|default_if_none:""}}</p>
                  <p class="cellText semibold">{{site.name2|default_if_none:""}}</p>
                  <p class="cellText semibold">{{site.name3|default_if_none:""}}</p>
                  <p class="cellText"><a target="_blank" href="{{site.website1|legal_url}}">{{site.website1|default_if_none:""}}</a></p>
                  <p class="cellText"><a target="_blank" href="{{site.website2|legal_url}}">{{site.website2|default_if_none:""}}</a></p>
                </td>
                <td class="nowrap">
                  <p class="cellText">
                    {% if site.telehealth == True %}
                    Yes
                    {% elif site.telehealth == False %}
                      No
                    {% endif %}
                  </p>
                </td>
                <td class="nowrap">
                  <p class="cellText bold">
                    {{site.phone1|format_phone}}
                  </p>
                  <p class="cellText semibold">
                    {{site.phone2|format_phone}}
                  </p>
                  <p class="cellText semibold">
                    {{site.phone3|format_phone}}
                  </p>
                </td>
                <td class="nowrap">
                  <p class="cellText bold">
                    {{site.street1}}
                  </p>
                  {% if site.street2 %}
                    <p class="cellText">
                      {{site.street2}}
                    </p>
                  {% endif %}
                  <p class="cellText">
                    {{site.city}}, {{site.state_usa}}
                  </p>
                </td>
                <td>
                  <p class="cellText bold">{{site.zipcode}}</p>
                </td>
                <td class="nowrap">
                  {% if site.bu == True %}
                    {% if site.bwn or site.bwon or site.beri or site.bsdm %}
                      <p class="cellText">
                        Prescribed: <br/>
                        <span class="bold">{% bu_options %}</span>
                      </p>
                    {% endif %}
                    <p>
                      <span>
                        {% if site.buu is True or site.buu is False %}
                          Used in treatment:
                          <span class="bold">
                            {% if site.buu or site.bu %} Yes {% else %} No {% endif %}
                          </span>
                          <br/>
                        {% endif %}
                      </span>
                      <span>
                        Induction:
                        <span class="bold">
                          {% if site.bui %} Yes {% else %} No {% endif %}
                        </span>
                      </span>
                      <br/>
                      <span showOnlyFor="siterecs_samhsa_ftloc siterecs_dbhids_tad">
                        Maintenance:
                        <span class="bold">
                          {% if site.bum %} Yes {% else %} No {% endif %}
                        </span>
                      </span>
                      <br/>
                      <span>
                        Maintenance for predetermined time:
                        <span class="bold">
                          {% if site.bmw %} Yes {% else %} No {% endif %}
                        </span>
                      </span>
                      <br/>
                      <span>
                        Detoxification:
                        <span class="bold">
                          {% if site.db_field %} Yes {% else %} No {% endif %}
                        </span>
                      </span>
                      <br/>
                    </p>
                  {% else %}
                    <p class="cellText">Not available at this facility</p>
                  {% endif %}

                    </td>
                    <td class="nowrap">
                      {% if site.mu == True %}
                      <p class="cellText">
                        {% if site.meth is not None %}
                        Prescribed:
                        <span class="bold">{{site.meth}}</span>
                        <br/>
                      {% endif %}
                        Induction:
                        <span class="bold">
                          {% if site.mui %} Yes {% else %} No {% endif %}
                        </span>
                        <br/>
                        Maintenance:
                        <span class="bold">
                          {% if site.mm %} Yes {% else %} No {% endif %}
                        </span>
                        <br/>
                        Maintenance for predetermined time:
                        <span class="bold">
                          {% if site.mmw %} Yes {% else %} No {% endif %}
                        </span>
                        <br/>
                        Detoxification:
                        <span class="bold">
                          {% if site.dm %} Yes {% else %} No {% endif %}
                        </span>
                      </p>
                      {% else %}
                      <p class="cellText">Not available at this facility</p>
                      {% endif %}
                    </td>
                    <td class="nowrap">
                      {% if site.nu == True %}
                      <p class="cellText">
                        {% if site.vtrl or site.nxn %}
                          Prescribed:
                          <span class="bold">{% nu_options %}</span>
                          <br/>
                        {% endif %}
                        Vivitrol Induction:
                        <span class="bold">
                          {% if site.vti %} Yes {% else %} No {% endif %}
                        </span>
                        <br/>
                        Vivitrol Maintenance:
                        <span class="bold">
                          {% if site.vtm %} Yes {% else %} No {% endif %}
                        </span>
                        <br/>
                        Used for relapse prevention:
                        <span class="bold">
                          {% if site.rpn %} Yes {% else %} No {% endif %}
                        </span>
                      </p>
                      {% else %}
                      <p class="cellText">Not available at this facility</p>
                      {% endif %}
                    </td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <script src="/static/js/filter.js"></script>
    <script src="/static/js/hideColumns.js"></script>
  </body>
</html>
