<style>
    #nav-logo {
    width: 100px;
    height: 70px;
    background: url("/static/images/MM_infinity-logo_ghost-gray.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px 55px;
    cursor: pointer;
  }
  
  #nav-logo:hover {
    opacity: 1;
  }
  
  nav {
    background-color:#0f4d90;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.44); 
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.44);  
  }
  
  #nav-options {
    list-style: none;
    display: flex;
    align-self: center;
    padding-left: 0px;
    flex-wrap: wrap;
  }
  
  #nav-options li {
    margin: 5px 10px;
    font-size: 16px;
    /* text-transform: uppercase; */
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    flex-shrink: 0;
    background-color: rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 5px;
  }

  #nav-options li:not(.bold) {
    margin: 5px 10px;
    font-size: 12px;
    /* height: 10px; */
  }
 

  #nav-options li a {
    color: white;
    text-decoration: none;
  }
  
  #nav-options li:hover {
    /* text-decoration: underline;
    text-decoration-color: white; */
    opacity: 0.8;
  }
  .linebreak {
    width: 100%;
  }
</style>
<nav>
    <a href="/" id="nav-logo"></a>
    <ul id="nav-options">
        <li class="bold"><a href="/map/sites_all">Map All</a></li>
        <li class="bold"><a href="/table/sites_all">List All</a></li>
        <div class="linebreak"></div>
        <li><a href="/table/siterecs_dbhids_tad">Local MAT Directory (DBHIDS)</a></li>
        <li><a href="/table/siterecs_samhsa_ftloc">National Find Treatment Programs (SAMHSA)</a></li>
        <li><a href="/table/siterecs_samhsa_otp">Opioid Treatment Programs (SAMHSA)</a></li>
    </ul>
</nav>